.icon-mdDiOk { 
background-image: url(images/mdOkBorder.png) !important; 
background-size:100% 100%; 
}
.icon-mdDiClose { 
background-image: url(images/mdDelBorder.png) !important; 
background-size:100% 100%; 
}
.icon-syncEn { 
background-image: url(images/icons/sync.png) !important; 
background-size:100% 100%; 
}
.icon-syncDept { 
background-image: url(images/icons/sync.png) !important; 
background-size:100% 100%; 
}
.icon-syncDi { 
background-image: url(images/icons/sync.png) !important; 
background-size:100% 100%; 
}
.icon-Search { 
background-image: url(images/icons/search.png) !important; 
background-size:100% 100%; 
}
.icon-Create { 
background-image: url(images/icons/create.png) !important; 
background-size:100% 100%; 
}
.icon-Open { 
background-image: url(images/icons/open.png) !important; 
background-size:100% 100%; 
}
.icon-Delete { 
background-image: url(images/icons/delete.png) !important; 
background-size:100% 100%; 
}
.icon-Property { 
background-image: url(images/icons/property.png) !important; 
background-size:100% 100%; 
}
.icon-Patient { 
background-image: url(images/icons/patient.png) !important; 
background-size:100% 100%; 
}
.icon-minimum { 
background-image: url(images/icons/minimum.png) !important; 
background-size:100% 100%; 
}
.icon-inTerminal { 
background-image: url(images/icons/inTerminal.png) !important; 
background-size:100% 100%; 
}
.icon-score { 
background-image: url(images/icons/score.png) !important; 
background-size:100% 100%; 
}
.icon-cancelScore { 
background-image: url(images/icons/cancelScore.png) !important; 
background-size:100% 100%; 
}
.icon-inProcess { 
background-image: url(images/icons/inProcess.png) !important; 
background-size:100% 100%; 
}
.icon-scoredone { 
background-image: url(images/icons/scoredone.png) !important; 
background-size:100% 100%; 
}
.icon-login { 
background-image: url(images/login/login_button.png) !important; 
background-size:100% 100%; 
}
.icon-archive { 
background-image: url(images/icons/其他文档.png) !important; 
background-size:100% 100%; 
}
.row_f {
	color: green;
}
.icon-reset { 
background-image: url(images/icons/reset.png) !important; 
background-size:100% 100%; 
}
.icon-CreateDefect { 
background-image: url(images/icons/createdefect.png) !important; 
background-size:100% 100%; 
}
.icon-pass { 
background-image: url(images/icons/pass.png) !important; 
background-size:100% 100%; 
}
.icon-points { 
background-image: url(images/icons/points.png) !important; 
background-size:100% 100%; 
}
.icon-redefect { 
background-image: url(images/icons/redefect.png) !important; 
background-size:100% 100%; 
}
.icon-sendDefectNotice { 
background-image: url(images/icons/sendDefectNotice.png) !important; 
background-size:100% 100%; 
}
.icon-negation { 
background-image: url(images/icons/negation.png) !important; 
background-size:100% 100%; 
}
.icon-send { 
background-image: url(images/icons/send.png) !important; 
background-size:100% 100%; 
}
.icon-cancel { 
background-image: url(images/icons/cancel.png) !important; 
background-size:100% 100%; 
}
.icon-OK { 
background-image: url(images/icons/OK.png) !important; 
background-size:100% 100%; 
}
.icon-issue { 
background-image: url(images/icons/issue.png) !important; 
background-size:100% 100%; 
}
.icon-enable { 
background-image: url(images/icons/enable.png) !important; 
background-size:100% 100%; 
}
.icon-disable { 
background-image: url(images/icons/disable.png) !important; 
background-size:100% 100%; 
}
.icon-close { 
background-image: url(images/icons/close.png) !important; 
background-size:100% 100%; 
}		
.icon-edit { 
background-image: url(images/icons/edit.png) !important; 
background-size:100% 100%; 
}
.icon-save { 
background-image: url(images/icons/save.png) !important; 
background-size:100% 100%; 
}
.icon-Patient { 
background-image: url(images/icons/switch_patient.png) !important; 
background-size:100% 100%; 
}
.icon-Function { 
background-image: url(images/icons/switch_function.png) !important; 
background-size:100% 100%; 
}		
.icon-MergerShow { 
background-image: url(images/icons/MR.png) !important; 
background-size:100% 100%; 
}
.icon-Upload { 
background-image: url(images/icons/image_add.png) !important; 
background-size:100% 100%; 
}
.icon-Diagnosis { 
background-image: url(images/icons/Diagnosis.png) !important; 
background-size:100% 100%; 
}